body, html, #app {
  font-family: 'Nunito', sans-serif !important;
  font-weight: 700 !important;
}

:root{

  /* font sizes */
  --font-gigante: 30px;
  --font-titulo: 25px;
  --font-subtitulo: 20px;
  --font-texto: 17px;
  --font-mini: 14px;

  /* icon sizes */
  --icon-grande: 35px;
  --icon-mediano: 25px;
  --icon-chico: 20px;

  /* icon wrapper */
  --icon-wrapper:35px;

  /* colors */
  --azul-oscuro: #03192C;
  --azul-botones: #093256;
  --rojo-danger: #ff4d4d;
  --rojo-boton: #ff4d4d1a;
  --blanco: #ffff;
  --gris-oscuro: #1f1f1f;
  --verde: #00a862;
  --gris-fondo: #e6e6e6;
  --gris-boton: #f3f6fa;

  /* radius */
  --general-radius: 20px;
  
}
